@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input#customTip::-webkit-outer-spin-button,
input#customTip::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number]#customTip {
	-moz-appearance: textfield;
}